.left-nav-container {
  width: 200px;
  position: fixed;
  height: 100%;
  background: #73AEC6;
  top: 40px;
}


a {
  display: block;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
}

ul {
  padding: 0px;
  border-right: #509AB8 1px solid;
}

li {
  line-height: 40px;
  list-style: none;
  height: 40px;
  padding: 0px 15px;
  border-bottom: #FFFFFF 1px solid;
}

li:hover {
  background-color: #509AB8;
}

li a {
  vertical-align: middle;
}

li.selected {
  background-color: #1D6785;
}