.content-container {  
  margin-left: 200px;
  padding: 60px 25px 25px 25px;
  height: 100%;
}

.no-left-nav {
  margin: 0px;
  padding: 0px;
}

.content-container.no-margin {
  padding: 0px;
  margin: 0px;
}

