<div class="login-container">  
  <div class="login-box">
    <div class="login-box-logo"></div>
    <div class="login-error" *ngIf="error">{{ errorMsg }}</div>
    <div class="loginField">
      <div class="loginFieldLabel">Username/Email</div> 
      <div><input [(ngModel)]="username" (keyup)="onKey($event)"/></div>
    </div>
    <div class="loginField">
      <div class="loginFieldLabel">Password</div>
      <div><input [(ngModel)]="password" /></div>
    </div>
    <div class="loginButtons">
      <button class="registerButton">Register</button>
      <button (click)="login()">Login</button>
    </div>
  </div>
</div>