.loginContainer {
  border: #73AEC6 1px solid;  
  border-radius: 2px;
  position: fixed;
  padding: 25px;
  width: 350px;
}

a {
  display: block;
  color: #FFFFFF;
  font-weight: 400;
}

ul {
  padding: 0px;
  border-right: #509AB8 1px solid;
}

li {
  line-height: 40px;
  list-style: none;
  height: 40px;
  padding: 0px 15px;
  border-bottom: #FFFFFF 1px solid;
}

li a {
  vertical-align: middle;
}

.loginField {
  margin-bottom: 15px;
}

.loginFieldLabel {
  margin-bottom: 5px;
}

.loginButtons {
  margin-top: 15px;
  float: right;
}

.registerButton {
  margin-right: 10px;
}

input {
  width: 100%
}